<template name="recoverView">
  <div class="forgottenPassword-panel col s8 offset-s2">
    <div class="forgotten-head">
      <div class="forgottenLogo">
        <div class="spinner">
          <div class="preloader-wrapper active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div><img src="https://upload.wikimedia.org/wikipedia/commons/5/57/Nxt-logo-round-blue-transparent.png"/>
        </div>
      </div>
    </div>
    <div class="forgotten-body">
      <div class="row">
        <h5 class="left-align">Recover password</h5>
        <div class="col s12 input-field">
          <input id="emailF" type="email" class="validate"/>
          <label for="emailF" class="left-align">@Email</label>
        </div>
      </div>
    </div>
    <div class="forgotten-footer"><a class="waves-effect waves-light btn right-align" id="btn-recover">RECOVER</a>
      <div class="col s12">
        <p class="forgottenPassword">LOGIN</p>
      </div>
    </div>
  </div>
</template>