<template name="registeredView">
    <div class="registered-panel col s8 offset-s2 ">
        <div class="regSuccess-head">
          <div class="regSuccessLogo">
            <div class="spinner">
              <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div><img src="https://upload.wikimedia.org/wikipedia/commons/5/57/Nxt-logo-round-blue-transparent.png" />
            </div>
          </div>
        </div>
        <div class="regSuccess-body">
          <h5 class="center-align">Congratulations!</h5>
          <p>Only thing that left is to verify your email.</p>
          <p>Please, check your inbox and get back.</p>
        </div>
    </div>
</template>