<template name="resetView">
    <div class="resetPassword-panel col s8 offset-s2">
      <div class="resetPassword-head">
        <div class="resetPasswordLogo">
          <div class="spinner">
            <div class="preloader-wrapper active">
              <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div><img src="https://upload.wikimedia.org/wikipedia/commons/5/57/Nxt-logo-round-blue-transparent.png"/>
          </div>
        </div>
      </div>
      <div class="resetPassword-body">
        <div class="row">
          <h5 class="left-align">Reset password</h5>
          <div class="col s12 input-field">
            <input id="passwordOne" type="password" class="validate"/>
            <label for="passwordOne" class="left-align">*Password</label>
          </div>
          <div class="col s12 input-field">
            <input id="passwordTwo" type="password" class="validate"/>
            <label for="passwordTwo" class="left-align">*Confirm Password</label>
          </div>
        </div>
      </div>
      <div class="resetPassword-footer"><a class="waves-effect waves-light btn right-align" id="btn-reset">RESET</a>
      </div>
    </div>
</template>