<template name="homePage">
    <div class="valign-wrapper homePage">
        <div class="valign" style="margin: 0 auto;">
            <span id="header" >
               <strong>{{message}}</strong>, {{user.profile.firstname}}
            </span>
            <div class="row">
                <div class="options center-align">
                    <a class="waves-effect waves-light btn right-align" id="btn-logout">LOG OUT</a>
                </div>
            </div>
        </div>
    </div>
</template>